.hospital-container {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  z-index: 10;
}

.hospital-banner {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hospital-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
}

.hospital-content {
  position: relative;
  max-width: 2000px;
  margin: -50px auto 0;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hospital-info {
  display: flex;
  align-items: center;
  justify-content: center; /* Căn giữa theo chiều ngang */
  gap: 20px;
  margin-bottom: 20px;
}

.hospital-logo {
  width: 150px;      /* tăng kích thước ảnh logo */
  height: 150px;
  object-fit: contain; /* giữ tỉ lệ ảnh */
  border-radius: 10px; /* nếu muốn bo góc */
  margin-right: 20px;  /* khoảng cách với tên */
}


.hospital-name {
  font-size: 2rem;   /* tăng size chữ tên bệnh viện */
  font-weight: 700;
  margin: 0;
  color: #333;
}

.hospital-address {
  font-size: 1.2rem;   /* tăng size chữ địa chỉ */
  color: #666;
  margin-top: 5px;
}

.hospital-tabs {
  display: flex;
  gap: 15px;
  margin-top: 15px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.tab-button {
  padding: 5px 10px;
  border: none;
  background: transparent;
  cursor: pointer;
  color: rgb(22, 20, 20);
  font-size: 16px;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.tab-button:hover {
  color: #007bff;
  border-bottom: 2px solid #007bff;
}

.hospital-description {
  margin-top: 15px;
  color: #444;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.info-box {
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

.yellow {
  background-color: #fffae6;
  border-left: 5px solid #ffc107;
  margin-top: 20px;
  padding-bottom: 30px;
}

.blue {
  background-color: #e6f7ff;
  border-left: 5px solid #1890ff;
}

.info-box ul {
  padding-left: 40px; /* Thụt vào 40px */
  margin-top: 10px;
}

.hospital-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 20px;
}

/* Nút đặt khám */
.booking-button {
  display: block;
  width: 1000px;
  max-width: 3000px;
  margin: 20px auto;
  padding: 12px;
  background-color: #38cfd9;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.booking-button:hover {
  background-color: #2bb2bf;
}
