@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/nen14.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-box {
  width: 350px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.input-group {
  position: relative;
  margin-bottom: 15px;
  border-radius: 25px;  
  overflow: hidden; 
}

.input-field {
  width: 100%;
  padding: 12px 40px;
  border-radius: 25px; /* Bo góc đúng */
  background: rgba(255, 255, 255, 0.3);
  color: rgb(3, 3, 3);
  outline: none;
  font-size: 16px;
  transition: border-color 0.3s ease-in-out, background 0.3s ease-in-out;
}




.input-field::placeholder {
  color: 0 0 8px rgba(59, 130, 246, 0.5);
  transition: opacity 0.3s ease-in-out;
}
.input-field:focus::placeholder {
  opacity: 0; /* Khi focus vào input, placeholder biến mất */
}

.input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: black;
}


.submit-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 25px;
  background: rgba(56, 104, 206, 0.8);
  color: black;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:hover {
  background: rgba(56, 104, 206, 0.8);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  
}

.login-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 14px;
  color: rgb(0, 0, 0);
}

.forgot-link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.forgot-link:hover {
  text-decoration: underline;
}
