


.users-container {
    background-color: white;
    min-height: 100vh;
    padding: 20px;
  }
  
  .users-table {
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.btn-edit {
  width: 50px;
  border: none;
  outline: none;
  background: transparent;
  color: orange;

  
}
.btn-delete {
  width: 50px;
  border: none;
  outline: none;
  background: transparent;
  color: #ff0021;
}


.add-user-btn {
  background-color: rgb(30, 76, 173);
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  transition: box-shadow 0.2s ease-in-out;
}

.add-user-btn:active {
  box-shadow: 0px 5px 15px rgba(0, 140, 255, 0.5); /* Đổ bóng màu xanh khi nhấn */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.save-btn {
  background-color: rgb(12, 92, 197);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-btn {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
