.header-container {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

/* Navbar: Dùng flexbox để chia 3 phần */
.navbar {
    display: flex;
    align-items: center;
    padding: 20px 20px;
    background-color: #fff;
    border-bottom: 1px solid #eaeaea;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    justify-content: space-between;  /* Chia navbar thành 3 phần */
}


/* Phần logo bên trái */
.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    color: #d82c20;
    font-size: 25px;
    
}

.logo i {
    font-size: 30px;
    color: #948786;
}

.logo img {
    width: 45px;
    height: auto;
}

/* Phần menu ở giữa */
.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 18px;
    color: #333;
    flex-grow: 1;
    justify-content: center;  /* Canh giữa menu */
}

.nav-links li {
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

.nav-links li span {
    font-weight: normal;
    display: block;
    font-size: 12px;
    color: #888;
}

/* Phần bên phải: Hỗ trợ + Chuyển ngôn ngữ */
.navbar-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Nút hỗ trợ */
.navbar-support button {
    background-color: #7b61da;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.navbar-support button:hover {
    background-color: #6525dd;
}

/* Chuyển đổi ngôn ngữ */
.language-switch {
    display: flex;
    align-items: center;
    gap: 5px;
}

.language-switch button {
    background: none;
    border: 1px solid rgb(69, 66, 224);
    padding: 5px 8px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.language-switch button:hover {
    background: rgba(0, 0, 0, 0.1);
}

/* Nút được chọn sẽ đổi màu */
.language-switch .active-lang {
    background: #7b61da; 
    color: white;
    border-color: #7b61da;
}