.footer {
    background-color: #f8f9fa;
    padding: 30px 0;
    font-size: 14px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  
  .footer-column {
    flex: 1;
    margin: 0 20px;
    min-width: 250px;
    transform: translateX(-10px); /* Dịch cột sang trái */
  }
  
  .footer-column.bookingcare {
    margin-right: -150px; /* Dịch cột sang trái */
  }
  
  
  .footer-column h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .footer-column p {
    color: #333;
    margin-bottom: 5px;
  }
  
  .footer-column a {
    color: #007bff;
    text-decoration: none;
    
  }
  
  .footer-column a:hover {
    text-decoration: underline;
    
  }
  
  .certifications img {
    width: 120px;
    margin-right: 10px;
  }
  
  .partner {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .partner img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
  }
  
 
  